*{

}
body{
    margin: 0;
    display: grid;
    grid-template-areas: 'navbar navbar navbar navbar'
                         'section section aside aside'
                         'footer footer footer footer';
    grid-template-rows:15vh 40vh 20vh; 
    grid-template-columns: 24.9vw 24.9vw 24.9vw 24.9vw               
}
nav{
   grid-area: navbar;
    background-color:maroon;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    color:white;
    text-decoration: none;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:hover{
    color:rgb(7, 51, 248);
    text-decoration: underline;

}
#menuHamburguer{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    width: 30px;
}

.trace{
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 40px;
}

@media(max-width:768px){
    nav a{
        display: none;
    }
    #menuHamburguer{
        display: flex;   
    }
    body{
         grid-template-areas:   'navbar navbar navbar navbar'
                                'section section section aside'
                                'footer footer footer aside';
        grid-template-rows:10vh 50vh 20vh;                               
    }
}

@media(max-width:425px){
    nav{
        justify-content: flex-start;
        padding: 10px;
    }
    body{
        grid-template-areas:    'navbar navbar navbar navbar'
                                'section section section section'
                                'aside aside aside aside'
                                'footer footer footer footer';
grid-template-rows:10vh 35vh 35vh 15vh; 
    }
}

section{
    grid-area: section;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
section img{
    border-radius: 100%;
    z-index: 100;
}
section h1{
    color: white;
    font-family: 'Dokdo', cursive;
    font-size: 20pt;

}
aside{
    grid-area: aside;
    background-color: blue;
    
}
footer{
    grid-area: footer;
    background-color:aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#redeSocial{
    width: 150px;   
    display: flex;
    justify-content: space-around;
}
#interacoesNico{
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
